@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div id="home-body">
    <div class="header">
        <h1>TODOLIST</h1>
    </div>
    
    <div class="body">
        <div class="add-todo-btn" @onclick="AddTodolist">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
            </svg>
        </div>
            <div class="todolist-container">
                @foreach (var todolist in Todolists)
                {
                    <TodoComponent Todolist="@todolist" IsInit="@(todolist.Title != "")" OnDelete="HandleTodolistDelete"/>
                }
            </div>
    </div>
    
    <div class="footer">
        <p>Joris BORGES</p>
    </div>
</div>

@code {

    public List<Todolist> Todolists = new List<Todolist>(){};

    private void AddTodolist()
    {
        Todolists.Insert(0, new Todolist(Todolists.Count(), 1, ""));
    }

    protected void HandleTodolistDelete(int id)
    {
        Todolists.RemoveAt(id);
    }
}